header{
    -webkit-app-region: drag
}


body {
    background-color: #e2e2e2;
    color: white;
    text-align: center;
}

h1{
    margin-bottom: 3%;
    color: #91a1a8;
}

h2{
    margin-bottom: 3%;
    color: #91a1a8;
}

#footerText{
    margin: 5px;
    float: left;
}

#mainwindow{
    width: 100%;
    height: 80%;
}

#Column{
    overflow-y: scroll;
    height: 1000px;
    width: 100%;
    margin-bottom: 5%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border: dashed #91a1a8;
}

#clearall{
    float: right;
    background-color: rgba(255, 0, 0, 0.45);
    height: 100%;
    border: unset;
}



.inputstyle{
    background-color: rgba(0, 224, 224, 0.69);
    width: 80%;
    height: 30px;
    border: none;
    color: aliceblue;
}



.box{
    width: 100%;
    height: 30px;
    background-color: #91a1a8;
    margin-bottom: 1.5%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


footer {
    position: fixed;
    height: 30px;
    bottom: 0;
    width: 100%;
    background-color: #91a1a8;
}



::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}


/* Because the clipboard package has a styling that can easily be unset (reverted to the standard) this has to happen. Unless you figure it out. */
.btn{
    background: unset;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    height: 30px;
    padding: unset;
    width: 20%;
}

.btn2{
    background-color: #91a1a8;
    margin: 1%;
    color: aliceblue;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;;
    font-weight: 500;
    height: 30px;
    width: 20%;
    border: unset;
}

.btn3{
    background-color: rgba(255, 0, 0, 0.45);
    margin: 1%;
    color: aliceblue;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;;
    font-weight: 500;
    height: 30px;
    width: 20%;
    border: unset;
}

.btn:hover{
    color: #464646;
}
.btn2:hover{
    color: #464646;
}
.btn3:hover{
    color: #464646;
}



@media screen and (min-aspect-ratio: 2/3) {

    #MainWindow{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    #Column{
        height: 370px;
    }


    .box{
        width: 100%;
        height: 30px;
        background-color: #91a1a8;
        margin-bottom: 1.5%;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }
}